
.banner {
width: 100%;
height: 100px;
background: #EDEEFE;
display: flex;
align-items: center;
justify-content: space-between;
.container_button{
    margin-right: 7%;
    button {
        padding: 10px;
        border-radius: 5px;
        color: #5C3DA4;
        border: solid 2px #5C3DA4;
        &:hover{
            background: #5C3DA4;
            color: white;
        }
    }
}
    h2{
        color: #353ABC;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.3px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 10px;
        color: #333333;
    }
}


.container_text{
    margin:20px
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 3%;
    .container{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-left: 4%;
        button{
            width:50% ;
            padding: 8px 10px 8px 10px;
            border-radius: 10px;
            margin-bottom: 6%;
        }
        .btn_continue{
            background: #2BD070;
            color: white;
        }
        .btn_save{
            color: #353ABC;
            border: solid 2px #353ABC;
            &:hover{
                color: white;
                background-color: #353ABC;
            }
        }
        
        h2{
            color: #5D5FEF;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 25px;
        }
        p{
            color: #9FB1FF;;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
        }
    }
}

.card{
    width: 50%;
    margin-left: 10%;
    border: solid 1px #9FB1FF;
    padding: 30px;
    box-shadow: none;
    height: 70vh;
    .mat-card-title{
        display: inline;
        color: #353ABC;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.3px;
    }
    .subtitle{
        color: #353ABC;
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
    }
    .mat-card-content{
        padding: 2% 5% 2% 5%;

        .check-container{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .card-subtitle{
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
        }
        span{
            display: block;
            color: #353ABC;
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;

        }
        .card-input{
            width: 96%;
            display: block;
            padding: 15px;
            border-radius: 3px;
            border: solid 1px #C1C3CE;
            color: #353ABC; 
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 3%;
            &:focus{
                outline: none;
                border-color: #9FB1FF ;
            }
            &::placeholder{
                font-family: 'Mulish', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #9FA2B4;
            }
        }
    }
}

.mat-form-field {
    display: block;
}
.mat-select{
    border-radius: 3px;
    color: #353ABC; 
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    &:focus{
        outline: none;
        border-color: #9FB1FF ;
    }
}


.card-select {
    display: block;
}

.mat-chip {
    background: white;
    border: solid 2px #353ABC;
    color: #353ABC;
    border-radius: 5px;
}
.job-detail-container {
    width: 40%;
}
.salary-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.currency-container{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    align-items: flex-start;
     .currency-input{
         padding: 15px;
        border-radius: 3px;
        border: solid 1px #C1C3CE;
        color: #353ABC; 
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        &:focus{
            outline: none;
            border-color: #9FB1FF ;
        }
        &::placeholder{
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #9FA2B4;
        }
     }
}  
.prefix{
    color: #353ABC; 
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}











