.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FAFBFF;
    
  }

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15%;
}

.mat-sidenav
{
    padding: 20px;
    width: 15%;
    -ms-overflow-style: none;
}


label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #9FB1FF;
}


.mat-list-item {
    color: #B3B7D0;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
        background: white;
        color: #353ABC;
        border-radius: 8px;
    }
    .mat-icon {
        color: #B3B7D0;
        margin-right: 25px;
    }

    &:focus{
        background:#5D5FEF;
        color: white;
        border-radius: 8px;
    }
    
}

.mat-nav-list{
    margin-bottom: 20%;

}
.mat-sidenav-content
{
    background: #FAFBFF;
}

.main-content{
    width: 85%;
}

  
  .contenido{
    width: 100%;
    position: absolute;
    top: 0;
  }


