<!-- <mat-sidenav-container class="sidebar" >
    <mat-sidenav mode="side" opened>
      
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      Main content
    </mat-sidenav-content>
  </mat-sidenav-container> -->
<mat-sidenav-container class="sidebar">
  <mat-sidenav mode="side" opened>
    <div class="container-image">
      <img src="/assets/Logo AA.svg">
    </div>
    <mat-nav-list>
      <label>Mi Espacio</label>
      <a mat-list-item routerLink="." routerLinkActivate="active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>inbox</mat-icon>
        Mensajes
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>event</mat-icon>
        Calendario
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <label>Reclutamiento CRM</label>

      <a mat-list-item routerLink=".">
        <mat-icon>work</mat-icon>
        Empleos
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>groups</mat-icon>
        Candidatos
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>contact_phone</mat-icon>
        Entrevistas
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>record_voice_over</mat-icon>
        Evaluaciones
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <label>Empresa</label>

      <a mat-list-item routerLink=".">
        <mat-icon>settings</mat-icon>
        Configuración
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon> badge</mat-icon> Perfil de Empresa
      </a>
      <a mat-list-item routerLink=".">
        <mat-icon>
          support_agent
        </mat-icon> Ayuda & Soporte
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    Main content
  </mat-sidenav-content>
</mat-sidenav-container>