<!-- <router-outlet></router-outlet> -->
<!-- <mat-sidenav-content>
  </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->



<mat-sidenav-container class="sidebar">
  <mat-sidenav mode="side" opened>
    <perfect-scrollbar>

      <div class="container-image">
        <img src="/assets/Logo AA.svg">
      </div>
      <label>Mi espacio</label>
      <mat-nav-list>
        <a mat-list-item routerLink="." routerLinkActivate="active">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>inbox</mat-icon>
          Mensajes
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>event</mat-icon>
          Calendario
        </a>
      </mat-nav-list>
      <label>Reclutamiento CRM</label>
      <mat-nav-list>
        <a mat-list-item routerLink="business/post-jobs">
          <mat-icon>work</mat-icon>
          Empleos
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>groups</mat-icon>
          Candidatos
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>contact_phone</mat-icon>
          Entrevistas
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>record_voice_over</mat-icon>
          Evaluaciones
        </a>
      </mat-nav-list>
      <label>Empresa</label>
      <mat-nav-list>
        <a mat-list-item routerLink=".">
          <mat-icon>settings</mat-icon>
          Configuración
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon> badge</mat-icon> Perfil de Empresa
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon>
            support_agent
          </mat-icon> Ayuda & Soporte
        </a>
      </mat-nav-list>
    </perfect-scrollbar>
  </mat-sidenav>

  <div class="contenido">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>