<mat-toolbar>
  <div class="header_icons">
    <button mat-mini-fab color="buttom-custom"  aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab color="buttom-custom"  aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
    <button mat-mini-fab color="buttom-custom" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
  <div class="header_account">
      <button mat-button>Mi Cuenta
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <img src="/assets/photo.png" alt="user account">
  </div>
  </mat-toolbar>